/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.Char-Card-Background {
	clip-path: polygon(0% 0%, 50% 0%, 45% 10%, 45% 90%, 50% 100%, 0% 100%);
	background-color: #2d3748;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}

.hexagon {
	clip-path: polygon(
		25% 6.7%,
		75% 6.7%,
		100% 50%,
		75% 93.3%,
		25% 93.3%,
		0% 50%
	);
	transform: rotate(30deg);
	z-index: 10;
}

/* Prevent horizontal scrolling and hide horizontal scrollbar */

/* For all elements, hide horizontal scrollbar */
*::-webkit-scrollbar:horizontal {
	display: none; /* Hide horizontal scrollbar in WebKit browsers */
}

* {
	scrollbar-width: none; /* For Firefox, hide scrollbars */
	-ms-overflow-style: none; /* For IE and Edge, hide scrollbars */
}

/* Custom scrollbar styling for dropdown */
.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: blue transparent; /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
	width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: blue;
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

/* body {
	background-color: black;
	color: white;
} */
